name: Run CI
on:
  push:
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Check go.mod
        run: |
          go get
          if [[ $(git status --porcelain) ]]; then
            echo "Please run 'go get' and commit the changes to go.mod and go.sum"
            exit 1
          fi
      - name: Check format
        run: |
          make format
          if [[ $(git status --porcelain) ]]; then
            echo "Please run 'make format' and commit the changes"
            exit 1
          fi
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.53.3
      - name: Run tests and check code coverage
        env:
          GO_ENV: test
        run: |
          make test
          make coverage
      - name: Ensure ordering of migration files is preserved
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          ./scripts/check-migrations.sh ${{ github.base_ref }}
      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          file: coverage.out
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Build server
        run: |
          make build
